/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}


/*-------------------------------------Tecnologia---------------------------------------*/

.tecnologiasArticle {
    display: flex;
    justify-content: center;      
    align-items: center;           
    flex-wrap: wrap;               
    gap: 25px;                     
    max-width: 400px;              
    margin: 0 auto;                
    padding: 20px;                 
    margin-top: 80px;
}



/*---------------------------------------------- Navegador----------------------------------------------------*/


section {
    padding: 40px 20px; 
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
}


/*------------------------------------------------Fuentes-----------------------------------------------*/
.tituloSobreMi{
    padding-top: 100px;
    padding-left: 25px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-size: 68px;
    font-style: normal;
    font-weight: bold;
    color:#0c191f ;
}
.experienciaTitulo{
    margin-top: 50px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-size: 68px;
    font-style: normal;
    font-weight: bold;
    color:#0c191f ;
}

.proyectosTitulo{
    margin-top: 50px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-size: 68px;
    font-style: normal;
    font-weight: bold;
    color:#0c191f ;
}

.fechaTiempo{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    color:#0c191f ;
}
.enlace{
    padding: 10px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-size: 38px;
    border-radius: 20px;
    font-style: normal;
    font-weight: bold;
    color:#efb245 ;
    transition: 2s ease;
}

.enlace:hover{
    padding: 15px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-size: 38px;
    font-style: normal;
    font-weight: bold;
    border-radius: 50px;
    color:white ;
    transition: 2s ease;
}

.presentacion{
    margin-top: 10px;
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #efb245;
}
.descripcionPropia{
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 80;
    font-style: normal;
    color: white;
}

.tituloTecnologias{
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-size: 68px;
    font-style: normal;
    font-weight: bold;
    color:#0c191f ;
}
/*------------------------------------------------Fuentes-----------------------------------------------*/
